.maincl {
    width:1920px;
    background: #3E4649;
    height: 1080px;
}
.leftcl {
  position: absolute; 
  height: 1000px;
  width: 442px;
  left: 35px;
  top: 55px;
  border-radius: 0px;
  font-family: arial;
  background: yellow;
}
.rightcl {
  position: absolute; 
  height: 1000px; 
  width: 1388px;
  left: 497px;
  top: 55px;
  border-radius: 0px;
  background: lightgreen;
}
cd 